.waterfall-container {
  position: relative;
  margin: 0 auto;
  &:after {
    content: " ";
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
  }
  .image-container {
    position: absolute;
    transition: background-color .8s ease, left .6s ease, top .6s ease;
    border-radius: 6px;
    cursor: zoom-in;

    &:hover {
      background-color: #F5F5F5;
    }

    .image-viewport {
      border-radius: 6px;
      overflow: hidden;
    }
  }
}

