.waterfall-container {
  position: relative;
  margin: 0 auto;
  &:after {
    content: " ";
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
  }
  .image-container {
    position: absolute;
    overflow: hidden;

    .waterfall-img {
      border-radius: 6px;
    }
  }
}

